.flagTipHoverFilter {
  filter: grayscale(100%);
}

.flagTipHoverFilter:hover {
  filter: url(#grayBorderFilter);
}

.flagTipCorrectTeamBorder {
  filter: url(#greenBorderFilter);
}

.flagTipSelectedTeamBorder {
  filter: url(#yellowBorderFilter);
}

.flagTipIncorrectTeamBorder {
  filter: url(#redBorderFilter);
}
